<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="test3.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <test3.Properties.Settings1>
            <setting name="isLightTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="specialColor" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="color1" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="color2" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="color3" serializeAs="String">
                <value>NavajoWhite</value>
            </setting>
            <setting name="color4" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="color5" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="color6" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="color7" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="color8" serializeAs="String">
                <value>HotPink</value>
            </setting>
            <setting name="color9" serializeAs="String">
                <value>Brown</value>
            </setting>
            <setting name="color10" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="color11" serializeAs="String">
                <value>75, 0, 30</value>
            </setting>
            <setting name="color12" serializeAs="String">
                <value>Crimson</value>
            </setting>
            <setting name="color13" serializeAs="String">
                <value>DarkBlue</value>
            </setting>
            <setting name="color14" serializeAs="String">
                <value>Olive</value>
            </setting>
            <setting name="color15" serializeAs="String">
                <value>Beige</value>
            </setting>
            <setting name="color16" serializeAs="String">
                <value>255, 255, 51</value>
            </setting>
            <setting name="color17" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="color18" serializeAs="String">
                <value>DarkOrchid</value>
            </setting>
            <setting name="color19" serializeAs="String">
                <value>Goldenrod</value>
            </setting>
            <setting name="color20" serializeAs="String">
                <value>MediumSeaGreen</value>
            </setting>
            <setting name="color21" serializeAs="String">
                <value>255, 0, 63</value>
            </setting>
            <setting name="color22" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="color23" serializeAs="String">
                <value>177, 255, 91</value>
            </setting>
            <setting name="color24" serializeAs="String">
                <value>YellowGreen</value>
            </setting>
            <setting name="color25" serializeAs="String">
                <value>DarkViolet</value>
            </setting>
            <setting name="color26" serializeAs="String">
                <value>Khaki</value>
            </setting>
            <setting name="color27" serializeAs="String">
                <value>152, 255, 152</value>
            </setting>
            <setting name="color28" serializeAs="String">
                <value>255, 253, 208</value>
            </setting>
            <setting name="color29" serializeAs="String">
                <value>Turquoise</value>
            </setting>
            <setting name="color30" serializeAs="String">
                <value>Plum</value>
            </setting>
            <setting name="color31" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="color32" serializeAs="String">
                <value>LightSkyBlue</value>
            </setting>
            <setting name="color33" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="color34" serializeAs="String">
                <value>LightYellow</value>
            </setting>
            <setting name="color35" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="color36" serializeAs="String">
                <value>139, 134, 104</value>
            </setting>
            <setting name="color37" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="color38" serializeAs="String">
                <value>255, 224, 189</value>
            </setting>
            <setting name="color39" serializeAs="String">
                <value>222, 49, 99</value>
            </setting>
            <setting name="color40" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="color41" serializeAs="String">
                <value>220, 210, 220</value>
            </setting>
            <setting name="color42" serializeAs="String">
                <value>200, 234, 180</value>
            </setting>
            <setting name="color43" serializeAs="String">
                <value>200, 120, 130</value>
            </setting>
            <setting name="color44" serializeAs="String">
                <value>140, 78, 100</value>
            </setting>
            <setting name="isMultiCH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isGraphFixed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="permissibleVibrationLevel" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="highVibrationLevel" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="criticalVibrationLevel" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="isFastDraw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isLegendHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isVibrationLevelsEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="file1" serializeAs="String">
                <value />
            </setting>
            <setting name="file2" serializeAs="String">
                <value />
            </setting>
            <setting name="file3" serializeAs="String">
                <value />
            </setting>
            <setting name="file4" serializeAs="String">
                <value />
            </setting>
            <setting name="file5" serializeAs="String">
                <value />
            </setting>
            <setting name="isManyPoints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isMagnetCH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isToolPanelVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isDefaultRightClickMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lineWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="lineColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="isLineMagnet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eraserWidth" serializeAs="String">
                <value>0.1</value>
            </setting>
        </test3.Properties.Settings1>
    </userSettings>
</configuration>